
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color:#D7CEC7;
    color: #76323f;
}

.bg-blackboard {
    background-color:#565656;
    box-shadow: 0px 3px 8px 0px #000;
    
}
span {
    color: #63472e;
}
.navbar-light .navbar-nav .nav-link{
    color: #c09f80;
}
.navbar-light .navbar-nav .nav-link a:hover{
    color: #694d33;

}

.bg-green .navbar-light  {
    color: #76323f;
}
.navbar-light .bg-green  .navbar-brand,
.bg-green .navbar-text {
    color: #76323f;
}

.row {
margin-top: 2rem;
margin-bottom: 2rem;
}
