<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="data:;base64,=">
  <!-- 引入 cdn CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.21/datatables.min.css"/>

  <!-- 引入 Data table-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.21/datatables.min.js"></script>

  <!-- 引入 Chart js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>

  <!-- 引入 cdn js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- 直接定義 CSS -->
  <link rel="stylesheet" href="./static/css/basestyle.css" />


  <!-- 可供更改的部分 -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-blackboard">
    <a class="navbar-brand" href="/">
      <span class="h3 mx-1">ISLAB Word Root Project</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a id='Home' class="nav-link  active" href="/">Home <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
<main>
    {% block main %}{% endblock %}
</main>
<!-- 希望能固定出現在每個網頁的 footer -->
<footer>
</footer>
</body>

<script type="text/javascript">
    console.log(location.href.indexOf('all_record'))
    if (location.href.indexOf('all_record') !=-1){
        document.getElementById("History").classList.add("active");
        document.getElementById("Home").classList.remove("active");
    }
    else if (location.href.indexOf('home') !=-1){
        document.getElementById("Home").classList.add("active");
        document.getElementById("History").classList.remove("active");
    }else{
        document.getElementById("Home").classList.remove("active");
        document.getElementById("History").classList.remove("active");
    }
</script>
