{% extends "base.html" %}

{% block main %}
<link rel="stylesheet" href="./static/css/index.css" />

<div class="container">

    <form  method="POST" action="/" style="margin-top: 1rem;">
        <div class="form-row">
        <div class="col-3" ></div>
          <div class="col-5" >
            <input type="text" name='Inputword' class="form-control" value="{{inputword}}" placeholder="input word">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-outline-secondary mb-2">搜尋</button>
        </div>
        </div>
        <div class="form-row">
            <div class="col-3" ></div>
            <div class="form-check col-3" >
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name='Togglemodel1' class="custom-control-input" id="model1" checked="checked" >
                        <label class="custom-control-label" for="model1">字根拆解</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name='Togglemodel2' class="custom-control-input" id="model2" checked="checked">
                        <label class="custom-control-label" for="model2">字根意思 </label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name='Togglemodel3' class="custom-control-input" id="model3" checked="checked">
                        <label class="custom-control-label" for="model3">字根延伸</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name='Togglemodel4' class="custom-control-input" id="model4" >
                        <label class="custom-control-label" for="model4">字根組合</label>
                    </div>
            </div>
        </div>

    </form>



    <div class="row root-separate">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    字根拆解
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{wordrootPredict}}</p>
                    <footer class="blockquote-footer">其他組合: {{esleroots}}</footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
    <div class="row root-separate">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    字根意思
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <li>前綴:{{pre}}</li>
                    <span>{{pre_result}}</span>
                    <li>詞綴:{{aff}}</li>
                    <span>{{aff_result}}</span>
                    <li>後綴:{{suf}}</li>
                    <span>{{suf_result}}</span>
                    <footer class="blockquote-footer">引用自 <cite title="Source Title"> https://www.etymonline.com/</cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
    <div class="row root-separate">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    字根延伸
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <li>前綴:{{pre}}</li>
                    <span>{{pre_family}}</span>
                    <li>詞綴:{{aff}}</li>
                    <span>{{aff_family}}</span>
                    <li>後綴:{{suf}}</li>
                    <span>{{suf_family}}</span>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
    <div class="row root-separate">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    字根組合復原單字
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <li>輸入字根:{{inputroot}}</li>
                    <li>字根組合:{{root_suggest_inputconbine}}</li>
                    <li>最有可能單字:{{root_suggest_suggest}}</li>
                    <li>詞性還原:{{root_suggest_lemma}}</li>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>

{% endblock %}
